@model IQueryable<OnlineShopTime.Models.Offers>
@using OnlineShopTime.Models;

@{
    ViewBag.Title = @Resources.Home.YourOffers;
}

<div class="container">
    <h2>@Resources.Home.YourOffers: </h2>
    <hr/>
    <div id="offers" class="row">
        @foreach (Offers UserOffer in Model)
        {
            @Html.Partial("_OfferPartial", UserOffer);
        }
    </div>
</div>

