@model OnlineShopTime.Models.Users
@using OnlineShopTime.Models
@using Microsoft.AspNet.Identity
@using CloudinaryDotNet



<div class="jumbotron col-lg-3 col-md-4 col-sm-6 col-xs-12" style="margin:5px; max-width:260px; word-wrap: break-word">
    <div>
        @ViewBag.Cloudinary.Api.UrlImgUp.Transform(new Transformation().Width(150).Height(150).Crop("fill")).BuildImageTag(Model.AvatarURL, "id = image")
    </div>
    <div>
        <h4>@Model.UserName</h4>
        <h6>PLACE OF LIKES AND DISLIKES</h6>
    </div>
</div>

