@model OnlineShopTime.Models.Users
@using OnlineShopTime.Models
@using Microsoft.AspNet.Identity
@using CloudinaryDotNet

<center>
    <div class="jumbotron" style="width: 49%;">
        <div class="row">
            <div class="col-md-4">
                @ViewBag.Cloudinary.Api.UrlImgUp.Transform(new Transformation().Width(150).Height(150).Crop("fill")).BuildImageTag(Model.AvatarURL)
            </div>
            <div class="col-md-8">
                <h2>@Model.UserName</h2>
                <h3>PLACE OF LIKES AND DISLIKES</h3>
            </div>
        </div>
    </div>
</center>
