@{
    ViewBag.Title = "Confirm";
}

<br>
<center class="container jumbotron">
    <div class="row">
        <h2>@Resources.Home.ApplyOrderConfirm</h2>
    </div>
    <div>
        <div class="col-lg-3 col-md-3 col-sm-3"></div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <a href="ApplyOrder?OrderID=@ViewBag.OrderID" class="btn btn-default btn-success btn-lg" style="width: 100%; margin-top: 2%;">@Resources.Home.OrderApply</a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <a href="TabClick?TabID=3" class="btn btn-default btn-danger btn-lg" style="width: 100%; margin-top: 2%;">@Resources.Home.Back</a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3"></div>
    </div>
</center>

