@using OnlineShopTime.Models
@using Microsoft.AspNet.Identity
@using CloudinaryDotNet
@model OnlineShopTime.Models.ManageUserViewModel

@{
    ShopDBEntities db = new ShopDBEntities();
    var userID = User.Identity.GetUserId();
    var user = db.Users.FirstOrDefault(m => m.UserID == userID);
}

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <center>
    <div class="jumbotron uploaded_info_holder">
        @Model.Cloudinary.Api.UrlImgUp.Transform(new Transformation().Width(460).Height(300).Crop("fill")).BuildImageTag(user.AvatarURL)
    </div>
    </center>
    <form>
        @Model.Cloudinary.Api.BuildUploadForm("test-field", "auto", new SortedDictionary<string, object>() { { "tags", (object)"direct_photo_album" } }, new Dictionary<string, string>() { { "multiple", "true" } })
    </form>

    <div class="progress progress-striped" style="" id="progress" hidden="hidden">
        <div class="progress-bar" role="progressbar" style="width: 100%">
        </div>
    </div>
}


