@using Microsoft.AspNet.Identity
@model OnlineShopTime.Models.ManageUserViewModel

<br />

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="uploaded_info_holder">
    </div>
    <br />
    <form>
        @Model.Cloudinary.Api.BuildUploadForm("test-field", "auto", new SortedDictionary<string, object>() { { "tags", (object)"direct_photo_album" } }, new Dictionary<string, string>() { { "multiple", "true" } })
    </form>

    <div class="progress progress-striped" style="width:40%" id="progress" hidden="hidden">
        <div class="progress-bar" role="progressbar" style="width: 100%">
        </div>
    </div>


}

