@using OnlineShopTime.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = Resources.Home.ChangePassword;
}

<div class="row">
        @if (ViewBag.HasLocalPassword)
        {
            @Html.Partial("_ChangePasswordPartial")
        }
        else
        {
            @Html.Partial("_SetPasswordPartial")
        }
        <section id="externalLogins">
            @Html.Action("RemoveAccountList")
        </section>
</div>

